<html>
	<head>
		<title>Editor HTML Online</title>
	</head>
	<body>
		<div style="text-align: left;">
			<p>
				Favor inserir a sequencia de caracteres (&#39;{&#39; e &#39;}&#39; apenas), para verificar se a mesma é estável:</p>
			<p>
				<input maxlength="200" name="Sequencia de Chaves" size="200" type="text" /></p>
			<p>
				<input name="Verificar Sequência" type="button" value="Verificar Sequencia" /></p>
		</div>
		<p>
			Resposta:</p>
		<p>
			<input maxlength="200" name="Resposta" size="200" type="text" /></p>
	</body>
</html>
